@{
    ViewData["Title"] = "Existing Property";
}
@model Alquileres.GUI.Models.PropertyVM
@{

    <table id="tableProperty" class="table table-dark p-3 rounded" style="border:2px solid!important;border-color:white!important;">
        <thead class="text-center bg-white">
            <tr>
                <th>Property Name</th>
                <th>Owner</th>
                <th>Adress</th>
                <th>Price</th>
                <th>Code internal</th>
                <th>Year</th>
                <th> </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @if (Model.Property != null)
            {
                @foreach (var property in Model.Property)
                {
                    <tr>
                        <th>
                            @property.Name
                        </th>
                        <th>
                            @property.OwnerName
                        </th>
                        <th>
                            @property.Address
                        </th>
                        <th>
                            @property.Price
                        </th>
                        <th>
                            @property.CodeInternal
                        </th>
                        <th>
                            @property.Year
                        </th>
                        <th>
                            <a class="nav-link text-white" asp-controller="Properties" asp-action="Index" asp-route-idProperty="@property.IdProperty">Property Details</a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Html.Raw(@Model.Response)" != '' && "@Html.Raw(@Model.Response)" != null && "@Html.Raw(@Model.Response)" != undefined) {
                swal({
                  title: "Info",
                  text: "@Html.Raw(Model.Response)",
                  icon: "info",
                });
            }

              var table = $('#tableProperty').DataTable({
                responsive: true,
              });
        });
    </script>
}
