@{
    ViewData["Title"] = "Add Property";
}
@model Alquileres.GUI.Models.FullPropertyVM
@{
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Date sale</label>
                                <input type="hidden" class="form-control" name="HiddenIdProperty" value="@Model.Property.IdProperty">
                                <input type="hidden" class="form-control" name="HiddenIdPropertyTrace" value="@Model.PropertyTrace.IdPropertyTrace">
                                <input type="datetime" class="form-control" name="DateSale" required value="@Model.PropertyTrace.DateSale">
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="NameTrace" placeholder="Enter name" required value="@Model.PropertyTrace.Name">
                            </div>
                            <div class="form-group">
                                <label>Value</label>
                                <input type="number" class="form-control" name="ValueTrace" placeholder="Enter Value Trace" step="0.01" required value="@Model.PropertyTrace.Value.ToString().Replace(",",".")">
                            </div>
                            <div class="form-group">
                                <label>Tax</label>
                                <input type="number" class="form-control" name="TaxTrace" placeholder="TaxTrace" required step="0.01" value="@Model.PropertyTrace.Tax.ToString().Replace(",",".")">
                            </div>
                            <div class="form-group">
                                @if (Model.PropertyImage != null)
                                {
                                    <input type="hidden" class="form-control" name="HiddenIdPropertyImage" value="@Model.PropertyImage.IdPropertyImage">
                                    @if (@Model.PropertyImage.File != null)
                                    {
                                        <input type="hidden" class="form-control" name="HiddenPropertyImageName" value="@Model.PropertyImage.File.ToString().Replace("/Property/","")">
                                    }
                                    else
                                    {
                                        <input type="hidden" class="form-control" name="HiddenPropertyImageName" value="@Model.PropertyImage.File">
                                    }

                                    @if (Model.PropertyImage.Enable)
                                    {
                                        if (Model.PropertyImage.File != null)
                                        {
                                            <input type="file" class="form-control" name="PropertyImage">
                                            <br />
                                            <p>Property Image</p>
                                            <br />
                                            <img src="@Model.PropertyImage.File" class="rounded mx-auto d-block" alt="..." style="height:250px;max-width:250px;">
                                        }
                                        else
                                        {
                                            <p>No property file image</p>
                                            <br />
                                            <input type="file" class="form-control" name="PropertyImage" required>
                                        }
                                    }
                                    else
                                    {
                                        <p>No property file image</p>
                                        <br />
                                        <input type="file" class="form-control" name="PropertyImage" required>
                                    }
                                }
                                else
                                {
                                    <p>No property file image</p>
                                    <br />
                                    <input type="file" class="form-control" name="PropertyImage" required>
                                }
                                <br />
                            </div>
                            <button type="submit" class="btn btn-secondary btn-lg" asp-action="AddFullProperty">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Html.Raw(@Model.Response)" != '' && "@Html.Raw(@Model.Response)" != null && "@Html.Raw(@Model.Response)" != undefined) {
                swal({
                  title: "Info",
                  text: "@Html.Raw(Model.Response)",
                  icon: "info",
                });
            }
        });
    </script>
}
